{
  "trailingComma": "es5",
  "printWidth": 100,
  "semi": false,
  "singleQuote": true,
  "endOfLine": "lf",
  "tabWidth": 2,
  "importOrder": [
    "^components/(.*)$",
    "^api/(.*)$",
    "^libs/(.*)$",
    "^pages/(.*)$",
    "^modules/(.*)$",
    "^react$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
